@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.border-top {
    position: relative;
  }
  
  .border-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d1d5db; /* Tailwindì˜ border-gray-300 */
  }
  